body {
  font-family: 'Lato', sans-serif;
}

button:focus {
  background-color: transparent !important;
}

.background-black {
  background: #000;
}

.img_cover {
  background-size: cover !important;
}

.link_logo {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
}

.brand-logo {
  margin-right: 24px;
}

footer {
  color: #fff;
  text-align: center;
  font-size: 16px;
}

.featured-wrapper {
  margin: 90px auto 0px;
  overflow: hidden;
}

.featured-stripes {
  position: relative;
}

.featured-stripes .stripe {
  width: 2000px;
  height: 40px;
  position: absolute;
}

.featured-text {
  position: absolute;
  color: #fff;
  font-size: 50px;
  padding: 15px 20px;
  text-transform: uppercase;
  text-align: center;
}

.featured-player {
  width: 240px;
  height: 500px;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  position: absolute;
}

.featured-Logo {
  width: 300px;
  height: 250px;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  position: absolute;
}

.home-players-wrapper {
  min-height: 850px;
}

.home-players-wrapper .home-card-wrapper .home-card-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 24px;
}

.home-players-wrapper .home-card-wrapper .home-card-container .item {
  margin: 10px 24px;
}

.home-players-wrapper .home-card-wrapper .home-card-container .meet-squad-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5%;
}

.home-players-section .home-card-wrapper {
  position: relative;
  min-height: 850px;

}

.home-players-section .starting-lineup {
  font-size: 44px;
  font-weight: bold;
  color: #552583;
  padding-top: 20px;
}

.player-card-wrapper {
  background: #fff;
  width: 250px;
  border: 1px solid #ececec;
  padding: 10px 10px 20px;
  float: left;
}

.player-card-wrapper .player-card-thmb {
  border: 1px solid #eee;
  width: 100%;
  height: 200px;
  background-repeat: no-repeat !important;
  background-position: 50% !important;
  background-size: contain !important;
}

.player-card-wrapper .player-card-number {
  color: #fdb927;
  font-size: 100px;
  text-align: right;
  line-height: 150px;
  float:right;
}

.player-card-wrapper .player-card-name {
  bottom: 0;
  float: left;
}

.player-card-wrapper .player-card-name span {
  display: block;
  font-size: 25px;
  color: #000;
  font-weight: bold;
}

.home-text-wrapper {
  margin-top: 60px;
  float: right;
}

.home-games-wrapper {
  background: #552583;
  margin-top: 10px;
  font-family: 'Lato', sans-serif;
  padding: 50px 0px;
}

.home-games-wrapper .home-games {
  display: flex;
  flex-wrap: wrap;
}

.home-games-wrapper .home-games .item {
  width: 50%;
  margin: 24px 0px;
}

.home-games-wrapper .home-games .item .wrapper {
  padding-right: 24px;
}

.match-block .match-date {
  color: #fff;
  font-size: 18px
}

.match-block .match-wrapper .match-top, .match-block .match-wrapper .match-bottom {
  display: flex;
}

.match-block .match-wrapper .match-top .left div, .match-block .match-wrapper .match-bottom .left div {
  float: left;
}

.match-block .match-wrapper .match-top .left, .match-block .match-wrapper .match-bottom .left {
  background: #fff;
  flex-grow: 1;
  margin-right: 5px;
  padding: 10px;
}

.match-block .match-wrapper .match-top .left .team-name, .match-block .match-wrapper .match-bottom .left .team-name {
  padding: 5px 10px;
}

.match-block .match-wrapper .match-top .left .icon, .match-block .match-wrapper .match-bottom .left .icon  {
  width: 50px;
  height: 50px;
  background-size: cover !important;
}

.match-block .match-wrapper .match-top .right, .match-block .match-wrapper .match-bottom .right {
  background: #000;
  width: 70px;
  color: #fff;
  text-align: center;
}

.match-block .match-wrapper .match-bottom {
  margin-top: 5px;
}

.more-games-btn {
  font-weight: bold;
  margin-top: 24px;
}

.promotion-wrapper {
  padding: 30px 0px 100px;
}

.promotion-wrapper .enroll-wrapper {
  text-align: center;
}

.promotion-wrapper .enroll-wrapper .enroll-title {
  font-size: 24px;
  font-weight: bold;
}

.promotion-wrapper .enroll-wrapper .enroll-input {
  width: 330px;
  margin: 0 auto;
  padding: 10px 0px;
}

.the-team-container {
  margin-top: 100px;
  min-height: 100vh;
}

.team-category-wrapper .title {
  font-size: 90px;
  font-weight: bold;
  color: #552583;
  margin: 30px 0px;
}

.team-category-wrapper .team-cards {
  display: flex;
  flex-wrap: wrap;
}

.team-category-wrapper .team-cards .item {
  margin-right: 20px;
  margin-bottom: 20px;
}

.the-team-container .team-category-wrapper .team-cards .player-card-wrapper {
  width: 300px;
}

.the-team-container .team-category-wrapper .team-cards .player-card-wrapper .player-card-thmb {
  height: 250px;
}

.all-games-container {
  margin-top: 100px;
  margin-bottom: 50px;
}

.all-games-wrapper {
  display: flex;
}

.all-games-wrapper .left {
  width: 20%;
}

.all-games-wrapper .game-box-big {
  width: 100%;
  border-bottom: 2px solid #552583;
  padding: 20px;
  box-sizing: border-box;
  height: 140px;
  clear: both;
}

.all-games-wrapper .game-box-big .block-wrapper {
  display: block;
  margin-right: 24px;
  float: left;
}

.all-games-wrapper .game-box-big .block-wrapper .block {
  display: flex;
  min-width: 350px;
}

.all-games-wrapper .game-box-big .block-wrapper .block .icon {
  width: 50px;
  height: 50px;
  background-size: cover !important;
}

.all-games-wrapper .game-box-big .block-wrapper .block .team, .all-games-wrapper .game-box-big .block-wrapper .block .result {
  font-size: 20px;
  line-height: 50px;
  margin-left: 20px;
  font-weight: bold;
}

.all-games-wrapper .game-box-big .block-wrapper .block .result {
  font-size: 24px;
}

.all-games-wrapper .game-box-big .block-wrapper.nfo {
  border-left: 1px solid #552583;
  height: 100px;
  padding-left: 10px;
  padding-top: 24px;
  color: #000;
}

.all-games-wrapper .all-games-filters .all-games-filters-box {
  padding: 10px 10px;
}

.all-games-wrapper .all-games-filters .all-games-filters-box .tag {
  font-weight: bold;
  margin-bottom: 5px;
  color: #000;
  text-align: center;
}

.all-games-wrapper .all-games-filters .all-games-filters-box .option {
  background: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 13px;
  margin: 0px 10px;
  cursor: pointer;
  text-align: center;
}

.all-games-wrapper .all-games-filters .all-games-filters-box .option.active {
  background: #fdb927;
  color: #000;
}

@media screen and (max-width: 767px) {
  .featured-wrapper {
    height: 600px;
  }

  .featured-Logo {
    transform: translate(0px, 50px) !important;
    width: 160px !important;
    height: 150px !important;
  }

  .featured-text {
    font-size: 24px;
  }

  .featured-player {
    transform: translate(180px, 50px) !important;
    width: 180px;
    height: 350px;
  }

  .featured-stripes .stripe {
    width: 800px;
    height: 25px;
  }

  .featured-stripes .stripe-0 {
    transform: rotate(0deg) translate(0px, 40px) !important;
  }

  .featured-stripes .stripe-1 {
    transform: rotate(0deg) translate(0px, 65px) !important;
  }

  .featured-stripes .stripe-2 {
    transform: rotate(0deg) translate(0px, 90px) !important;
  }

  .featured-stripes .stripe-3 {
    transform: rotate(0deg) translate(0px, 115px) !important;
  }

  .featured-stripes .stripe-4 {
    transform: rotate(0deg) translate(0px, 140px) !important;
  }

  .featured-stripes .stripe-5 {
    transform: rotate(0deg) translate(0px, 165px) !important;
  }

  .featured-stripes .stripe-6 {
    transform: rotate(0deg) translate(0px, 190px) !important;
  }

  .featured-stripes .stripe-7 {
    transform: rotate(0deg) translate(0px, 215px) !important;
  }

  .featured-stripes .stripe-8 {
    transform: rotate(0deg) translate(0px, 240px) !important;
  }

  .featured-stripes .stripe-9 {
    transform: rotate(0deg) translate(0px, 265px) !important;
  }

  .featured-stripes .stripe-10 {
    transform: rotate(0deg) translate(0px, 290px) !important;
  }

  .featured-stripes .stripe-11 {
    transform: rotate(0deg) translate(0px, 315px) !important;
  }

  .featured-stripes .stripe-12 {
    transform: rotate(0deg) translate(0px, 340px) !important;
  }


  .home-games-wrapper .home-games .item .wrapper {
    padding: 0px 20px !important;
  }

  .match-block .match-wrapper .match-top .left .team-name, .match-block .match-wrapper .match-bottom .left .team-name {
    display: none;
  }

  .more-games-btn {
    text-align: center;
  }

  .home-players-wrapper .home-card-wrapper .home-card-container .item {
    margin: 0 auto !important;
  }

  .home-players-wrapper .home-card-wrapper .home-card-container .meet-squad-btn {
    margin: 0 auto !important;
    padding-top: 24px !important;
  }

  .team-category-wrapper .title {
    font-size: 60px !important;
    text-align: center;
  }

  .team-category-wrapper .team-cards .item {
    margin: 10px auto !important;
  }

  .all-games-wrapper {
    flex-direction: column;
  }

  .all-games-wrapper .left {
    width: unset !important;
  }

  .all-games-wrapper .game-box-big .block-wrapper .block .team {
    display: none;
  }

  .all-games-wrapper .game-box-big .block-wrapper .block {
    min-width: 125px !important;
  }

  .all-games-wrapper .all-games-filters .all-games-filters-box .option {
    width: 100px !important;
    margin: 0 auto !important;
  }

  .all-games-filters.container {
    display: flex;
  }
  
  .all-games-wrapper .all-games-filters .all-games-filters-box {
    flex-grow: 1;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {

  .featured-player {
    transform: translate(350px, 90px) !important;
  }

  .match-block .match-wrapper .match-top .left .team-name, .match-block .match-wrapper .match-bottom .left .team-name {
    font-size: 1.5vw !important;
    margin-top: 5px;
  }

  .match-block .match-wrapper .match-top .right, .match-block .match-wrapper .match-bottom .right {
    font-size: 1.5vw !important;
    padding-top: 20px !important;
  }

  .all-games-wrapper .game-box-big .block-wrapper .block .team {
    display: none;
  }

  .all-games-wrapper .game-box-big .block-wrapper .block {
    min-width: 200px !important;
  }
}